node_modules/
build/
background.js
.DS_Store
*.zip
.env
.idea/.gitignore
.idea/chatgpt-google-extension.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/build.xml
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
src/config.ts
*.md
debug-key.js
tests/e2e/screenshots
tests/e2e/screenshots/FAILED_Review_prompt_trigger_test.png
